@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  font-size: 16px;
  position: absolute;
  background-color: rgb(219, 219, 219);
  /*width: 300px;*/
  font-family: "Nanum Gothic Coding", monospace;
  height: 100vh;
  transition: transform 0.35s ease-in;
}

.sidebar nav {
  padding: 45px;
}

.sidebar nav li {
  list-style: none;
  font-size: 3em;
  padding: 33px 0;
}

.sidebar nav li a {
  text-decoration: none;
  color: black;
}

.main {
  /*background-color: rgba(236, 228, 156, 0.733);*/
  width: 85vw;
  /*background-image: url(img/kelly-sikkema-tk9RQCq5eQo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
}

.container {
  display: flex;
}

.skillContainer {
  font-size: 16px;
  /*background-color: rgba(224, 184, 190, 0.39);*/
  height: 55vh;
  width: 80vw;
  margin: 140px auto;
  display: flex;
  justify-content: space-around;
}

.skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
    color: black;
}

.head {
  padding: 10px 0 10px 0;
  font-size: 2.5em;
  font-family: "Source Code Pro", monospace;
}

.sidebarGo{
  transform: translate(-443px, 0px);
  position: absolute;
}

.hamburger{
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}

.cross{
  margin-left: 200px;
}


@media (max-width: 1615px) {
  .sidebar{
    font-size: 10px;
  }

  .devpic{
    display: none;
  }

  .skillContainer{
    font-size: 12px;
    margin: 40px 60px;
  }
  
  .skills{
    margin: 20px 10px;
  }
}